/* =========================
   Default (Desktop > 1024px)
========================= */
html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'roboto', sans-serif;  
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: gray;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main {
  padding-top: 80px; /* header-ის სიმაღლის გათვალისწინებით */
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
}

header h1 {
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: 500; 
}

header a {
  text-decoration: none;
  color: #000;
}

#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

.menu-icon {
  visibility: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  margin-right: 2rem;
  gap: 50px;
  padding: 20px;
}

.some {
  font-size: 25px;
  font-weight: 600;
}

